.img {
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(50%);
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 100%;
  color: #fff;
  /* backdrop-filter: blur(16px); */
  backdrop-filter: brightness(40%);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
}

.card {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://imagenes.elpais.com/resizer/v2/MBAX3IRTQU5D3JD6N5YGCY6K6U.jpg?auth=d2b458b22f84e9c8a89112db69811945987f71682ef33baaadb3593d3a55fd8d&width=1960&height=1103&smart=true");
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  padding: 0px;
  background-position: center;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
}