<div class="grid grid-cols-12 gap-4 mt-16 bg-[#F7F9FC]">
  <app-sidebar></app-sidebar>
  <div class="lg:col-span-8 sm:col-span-12" id="dashboard">
    <div class="lg:ml-32 md:ml-56 mt-4 lg:mx-0 md:mx-0 sm:mx-2">
      <!-- IMAGEND E ARRIBA -->
      <div class="w-full card flexrelative mb-4 h-52">
        <div class="flex items-center w-full justify-between h-52 p-2 content">
          <div class="flex flex-col w-full text-white h-full z-50">
            <div class="flex flex-col text-lg">
              <div class="flex gap-x-2">
                <p class="text-2xl font-bold">
                  Bienvenido a
                  <span class="italic text-blue-600">JUNASOFT - CAJA</span>
                </p>
              </div>
              <!-- <p *ngIf="user">👋 Hola, {{ user.resultado.nombreCompleto }}!</p> -->
            </div>
          </div>
        </div>
      </div>
      <!-- CARDS CON DATOS NUMERICOS -->
      <div class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-4 mb-4">
        <!-- CARD 1 -->
        <div class="flex items-center h-24 p-2 rounded bg-white drop-shadow">
          <div class="flex items-center gap-x-4">
            <i
              class="fa-solid fa-money-bill-trend-up text-[25px] p-4 rounded text-orange-600 bg-orange-100"
            ></i>
            <div class="flex flex-col">
              <div class="flex items-center">
                <!-- Muestra "$***" si está oculto, o el valor real si está visible -->
                <h3 class="text-2xl">
                  {{
                    mostrarIngresos
                      ? "$" + (ingresos | number : "1.2-2")
                      : "$*******"
                  }}
                </h3>
                <!-- Icono de ojo para alternar visibilidad -->
                <button
                  (click)="toggleIngresos()"
                  class="ml-2 focus:outline-none"
                >
                  <i
                    class="fas"
                    [ngClass]="mostrarIngresos ? 'fa-eye-slash' : 'fa-eye'"
                  ></i>
                </button>
              </div>
              <p class="text-sm text-[#96989b]">Ingresos del mes</p>
            </div>
          </div>
        </div>
        <!-- CARD 2 -->
        <a
          [routerLink]="'/admin/ventas/listado-de-ventas'"
          class="flex items-center h-24 p-2 rounded bg-white hover:bg-slate-100 drop-shadow"
        >
          <div class="flex items-center gap-x-4">
            <i
              class="fa-solid fa-sack-dollar text-[25px] p-4 rounded text-blue-600 bg-blue-100"
            ></i>
            <div class="flex flex-col">
              <h3 class="text-2xl">
                {{ obtenerTotalResultadosVentas() || 0 }}
              </h3>
              <p class="text-sm text-[#96989b]">Ventas</p>
            </div>
          </div>
        </a>
      </div>

      <!-- REUNIONES DEL DIA -->
      <fieldset
        class="grid grid-cols-12 border border-solid border-gray-200 drop-shadow p-3 my-2 rounded bg-white"
      >
        <legend class="text-lg font-bold px-2 uppercase">VENTAS DE DÍA</legend>

        <ng-container *ngIf="ventas && ventas.length > 0; else noVentas">
          <div class="table-container col-span-12">
            <p-table
              #dt
              dataKey="id"
              [rows]="10"
              [value]="ventas"
              [loading]="loading"
              [lazy]="false"
              [showCurrentPageReport]="true"
              selectionMode="single"
              [scrollable]="true"
              [resizableColumns]="true"
              [responsive]="true"
              styleClass="p-datatable-gridlines p-datatable-sm"
              [customSort]="true"
              [scrollHeight]="'calc(100vh )'"
              [globalFilterFields]="['nombresProductos', 'tiposPagos.tipoPago']"
            >
              <!-- <ng-template pTemplate="header">
              <tr>
                <th scope="col" class="px-6 py-3">TOTAL DE FACTURA</th>
                <th scope="col" class="px-6 py-3">MODO DE PAGO</th>
              </tr>
            </ng-template> -->
              <ng-template pTemplate="body" let-venta>
                <tr
                  class="bg-white border hover:bg-gray-50 flex justify-between p-4 text-black"
                >
                  <div class="flex gap-4 items-center">
                    <i
                      [ngClass]="
                        venta.tipoPagos?.idTipoPago === 1
                          ? 'fa-solid fa-hand-holding-dollar border border-black rounded-full p-2'
                          : 'fa-solid fa-credit-card border border-black rounded-full p-2'
                      "
                    ></i>
                    <p>{{ venta.tipoPagos?.tipoPago }}</p>
                  </div>
                  <div class="flex flex-col">
                    <p class="text-green-500 font-bold">
                      + {{ venta.montoTotal | currency }}
                    </p>
                    <p class="text-sm text-slate-400">
                      {{ venta.fechaHora | date : "HH:mm:ss" }}
                    </p>
                  </div>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="7">No hay ventas registradas el día de hoy.</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorright">
                <div class="p-mt-1 p-text-right"></div>
              </ng-template>
              <ng-template pTemplate="paginatorleft"></ng-template>
            </p-table>
          </div>
        </ng-container>
        <ng-template #noVentas>
          <div
            class="col-span-12 justify-center text-center text-2xl py-4 text-slate-400 flex flex-col gap-4"
          >
            <i class="fa-solid fa-clipboard-check text-[60px]"></i>
            <p class="font-thin uppercase">No hay ventas el día de hoy.</p>
          </div>
        </ng-template>
        <div
          class="mt-3 col-span-12 justify-center text-center"
          *ngIf="ventas && ventas.length > 3"
        >
          <a
            routerLink="/admin/clientes/listado-de-clientes-que-deben"
            class="w-full text-blue-500 font-bold px-4 py-2 hover:bg-blue-50 rounded-lg"
            >Ver más</a
          >
        </div>
      </fieldset>
    </div>
  </div>
  <div
    class="h-full flex flex-col gap-y-4 rounded-lg lg:block md:hidden sm:hidden mt-4"
  >
    <app-panel-right></app-panel-right>
  </div>
</div>
